# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# Avoid committing generated/transient build artifacts.
build/

# Avoid committing IDE-specific files, especially if you're collaborating.
.idea/
*.iml
*.ipr
*.iws
.project
.vscode/